


    <div class="container">
            <div style="font-size:6rem !important" class="jumbotron">
                <h1 class = "centered-text">Does this seem right?</h1> 
                </div>
                

                <div class = "row input">
                    <div class = "col-md-12 ">
                    <h3 class = "bg-warning text-white">Doubt:</h3><h4> People can inherit doubt from siblings, parents or being alone it is something that has the power to control your every step in life.
Second guess every move or dictate your wellbeing choices.</h4>

                </div>
                </div>

                <div class="mt-2 col-md-12">
</div>
                 <div class = "row input">
                    <div class = "col-md-12 ">
                    <h4 class = "bg-warning  text-white">What to do when you’re doubtful:  </h3>
                    </div>
                    </div>

<div class="mt-2 col-md-12">
</div>
                <div class = "row">
                    <div class = "col-md-12 list-group input">
                        <ul>
                            <li class="list-group-item"><h4>Use prior experience in judging the negative aspects of not attempting something</h4></li>
                             <li class="list-group-item"><h4>Use prior experiences in judging what occurred when you attempted something </h4></li>
                             <li class="list-group-item"><h4>Set immediate goals </h4></li>
                             <li class="list-group-item"><h4>Don't be afraid to fail</h4></li>
                             
                        </ul>
                    </div>
                </div>

                </div>

               