


    <div class="container">
            <div style="font-size:6rem !important" class="jumbotron">
                <h1 class = "centered-text">Does this seem right?</h1> 
                </div>
                

                <div class = "row input">
                    <div class = "col-md-12 ">
                    <h3 class = "bg-primary text-white">Anxiety:</h3><h4>It comes in many forms and sizes, unable to deal with your emotions or being hot, cold is a wee indicator that your anxious self is flaring up. Some signs are heavy breathing or unable to sleep, maybe having a million things going through your mind and not being able to deal with them.</h4>

                </div>
                </div>

                <div class="mt-2 col-md-12">
</div>
                 <div class = "row input">
                    <div class = "col-md-12 ">
                    <h4 class = "bg-primary text-white">What to do when you’re anxious: </h3>
                    </div>
                    </div>

<div class="mt-2 col-md-12">
</div>
                <div class = "row">
                    <div class = "col-md-12 list-group input">
                        <ul>
                            <li class="list-group-item"><h4>Relaxation methods & Mindfulness</h4></li>
                             <li class="list-group-item"><h4>Organise short term activities that are enjoyable as a means of distraction</h4></li>
                             <li class="list-group-item"><h4>Exercise </h4></li>
                             <li class="list-group-item"><h4>Establish a habit as to assure that you’ll achieve your tasks</h4></li>
                             <li class="list-group-item"><h4>If you find yourself avoiding situations and activities because of anxiety, gradually expose yourself to those situations and activities</h4> </li>
                        </ul>
                    </div>
                </div>

                </div>

               