


    <div class="container">
            <div style="font-size:6rem !important" class="jumbotron">
                <h1 class = "centered-text">Does this seem right?</h1> 
                </div>
                

                <div class = "row input">
                    <div class = "col-md-12 ">
                    <h3 class = "bg-primary text-white">Fear:</h3><h4>Fear and doubt are similar but also very different. Where doubt has the ability to control your choices, fear has the ability to paralyse you. Fear is usually triggered and activates a part of your brain called the Amygdala. Which goes hand in hand with the “fight or flight” mode.</h4>

                </div>
                </div>

                <div class="mt-2 col-md-12">
</div>
                 <div class = "row input">
                    <div class = "col-md-12 ">
                    <h4 class = "bg-primary text-white">What to do when you’re fearful: </h3>
                    </div>
                    </div>

<div class="mt-2 col-md-12">
</div>
                <div class = "row">
                    <div class = "col-md-12 list-group input">
                        <ul>
                            <li class="list-group-item"><h4>Drink more water</h4></li>
                             <li class="list-group-item"><h4>Get a good night’s sleep</h4></li>
                             <li class="list-group-item"><h4>Talk about how you feel</h4></li>
                             <li class="list-group-item"><h4>Breath</h4></li>
                             <li class="list-group-item"><h4>Go for a walk</h4> </li>
                        </ul>
                    </div>
                </div>

                </div>

               