
<head>
<link rel="stylesheet" type="text/css" href=/"submissions.css">
</head>


<h1>Submissions</h1>
<form action="/form" method="post">
<label for="">name:<input type="text" name="name"></label>
<label for="">email:<input type="text" name="email"></label>
<label for="">submission:<input type="text" name="submission"></label>
<br>
<br>
<input type="submit" value="submit">

</form>