
    <div class="container bg-dark ">
        <div class="container">
            <div style="font-size:6rem !important" class="jumbotron">
                <h1 class = "centered-text">F - A - D - S</h1> 
                </div>
                </div>
 
 
<div class = "container bg-dark text-white">
    <div class="mt-2 col-md-12">
</div>
<div class = "row">
<div class = "col-md-6 ">
     <div class="imagebox">
   <a href = "/fear"> <image src = "fear.jpg" class="img-fluid category-banner img-responsive" alt="Responsive image"><span class="imagebox-desc"><h2>Fear</h2></span></image></a>
   </div>
</div>

<div class = "col-md-6 ">
     <div class="imagebox">
   <a href = "/anxiety"> <image src = "anxiety.jpg" class="img-fluid category-banner img-responsive" alt="Responsive image"><span class="imagebox-desc"><h2>Anxiety</h2></span></image></a>
   </div>
</div>
<div class="mt-2 col-md-12">
</div>
<div class = "col-md-6 ">
     <div class="imagebox">
   <a href = "/doubt"> <image src = "doubt.jpg" class="img-fluid category-banner img-responsive" alt="Responsive image"><span class="imagebox-desc"><h2>Doubt</h2></span></image></a>
   </div>
</div>
<div class = "col-md-6 ">
     <div class="imagebox">
   <a href = "/stress"> <image src = "stress.jpg" class="img-fluid category-banner img-responsive" alt="Responsive image"><span class="imagebox-desc"><h2>Stress</h2></span></image></a>
   </div>
</div>


</div>

</div>

    



