body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}



.centered-text {
  text-align:center
}    



.img {
  position: relative;
  float: left;
  width:  500px;
  height: 500px;
  background-position: 50% 50%;
  background-repeat:   no-repeat;
  background-size:     cover;
}